.kaneohe-gallery {
	background-color: $light-gray;
	background-image: url('images/noise.png');
	background-repeat: repeat;
	background-position: center center;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid $dark-gray;
	border-bottom: 1px solid $dark-gray;
}