$android-green: hsla(84, 69%, 77%, 1); // #8ec53e;
$marigold: hsla(36, 83%, 91%, 1); // #e79b28;
$azureish-white: hsla(189, 5%, 95%, 1); //#e4eff1;
$persian-plum: hsla(5, 78%, 40%, 1); // #661d16;
$medium-spring-bud: hsla(71, 49%, 85%, 1); // #c6d96e;

$foundation-palette: (
  primary: $android-green,
  secondary: $marigold,
  tertiary: $azureish-white,
  quaternary: $persian-plum,
  quinary: $medium-spring-bud,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
);